lib/pohoda_xml_validator/pohoda_xsd/bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:bnk="http://www.stormware.cz/schema/version_2/bank.xsd"
      xmlns="http://www.stormware.cz/schema/version_2/bank.xsd"
      targetNamespace="http://www.stormware.cz/schema/version_2/bank.xsd"
      elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd"           schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd"   schemaLocation="documentresponse.xsd"/>

<!-- **************************************************************************
    root element must be <bank>
   ************************************************************************** -->

<!-- REQUEST -->

<xsd:element name="bank" type="bnk:bankType"/>

<!-- **************************************************************************
    bank
   ************************************************************************** -->

<xsd:complexType name="bankType">
  <xsd:sequence>
    <xsd:element name="bankHeader" type="bnk:bankHeaderType" minOccurs="0"/>
    <xsd:element name="bankDetail" type="bnk:bankDetailType" minOccurs="0"/>
    <xsd:element name="bankSummary" type="bnk:bankSummaryType" minOccurs="0"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="bnk:bnkVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="bnkVersionType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="bankHeaderType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID záznamu (pouze pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="bankType" type="bnk:bankTypeType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Typ bankovního dokladu. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="account" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Bankovní účet. Pokud není účet uveden, POHODA použije účet uvedený v uživatelském nastavení
          uživatele (pod kterým je spuštěn XML import).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="number" type="typ:string15" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Evidenční číslo dokladu (pouze pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="statementNumber" type="bnk:statementNumberType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Číslo bankovního výpisu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="symVar" type="typ:symVarType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Variabilní symbol.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateStatement" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum bankovního výpisu. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="datePayment" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum platby</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="accounting" type="typ:accountingType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Předkontace. Pokud není uvedena, POHODA použije předkontaci uvedenou v uživatelském nastavení
          uživatele (pod kterým je spuštěn XML import).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Členění DPH, přednastavená hodnota je "inland"</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
        <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="text" type="typ:string240" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Text dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Adresa zákazníka</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Osobní adresa</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="paymentAccount" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Číslo bankovního Protiúčtu.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
        <xsd:group ref="typ:myGroupOfAccount"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="symConst" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Konstantní symbol.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="symSpec" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Specifický symbol. Používá se jen u závazků.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Párovací symbol</xsd:documentation>
      </xsd:annotation>
    </xsd:element>    
    <xsd:element name="centre" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Středisko</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="activity" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Činnost</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="contract" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zakázka</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="note" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="intNote" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Interní poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="labels" type="typ:labelsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Štítky záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Volitelný parametr.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="bankDetailType">
  <xsd:sequence>
    <xsd:element name="bankItem" type="bnk:bankItemType" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="bankSummaryType">
  <xsd:all>
    <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zaokrouhlení celkové částky dokladu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kč.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
      <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cizí měna.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>  
</xsd:complexType>

<xsd:complexType name="bankItemType">
  <xsd:all>
    <xsd:element name="text" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Text položky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="homeCurrency" type="bnk:typeCurrencyHomeItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Částka v Kč.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="foreignCurrency" type="bnk:typeCurrencyForeignItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Částka v cizí měně.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="note" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Párovací symbol.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="accounting" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Předkontace.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Členění DPH.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="centre" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Středisko.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="activity" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Činnost.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="contract" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zakázka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Volitelný parametr.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:simpleType name="bankTypeType">
  <xsd:annotation>
    <xsd:documentation>Typ bankovního dokladu.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="receipt">
      <xsd:annotation>
        <xsd:documentation>Příjmový doklad.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="expense">
      <xsd:annotation>
        <xsd:documentation>Výdajový doklad.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>

  
  <xsd:complexType name="statementNumberType">
    <xsd:annotation>
      <xsd:documentation>Číslo výpisu je složeno z čísla výpisu + čísla bankovního pohybu. Max. délka čísla výpisu je 10 znaků.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="statementNumber" type="typ:string10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Číslo bankovního výpisu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberMovement" type="typ:string6" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Číslo bankovního pohybu v rámci výpisu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="typeCurrencyHomeItem">
    <xsd:all>
      <xsd:element name="unitPrice" type="typ:currencyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Jednotková cena položky dokladu. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
 </xsd:complexType>


 <xsd:complexType name="typeCurrencyForeignItem">
    <xsd:all>
      <xsd:element name="unitPrice" type="typ:currencyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Jednotková cena položky dokladu. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
 </xsd:complexType> 

<!-- RESPONSE -->

<xsd:element name="bankResponse" type="bnk:bankResponseType"/>

<xsd:complexType name="bankResponseType">
  <xsd:complexContent>
    <xsd:extension  base="rdc:documentResponseType"/>
  </xsd:complexContent>
</xsd:complexType>

</xsd:schema>
