lib/pohoda_xml_validator/pohoda_xsd/offer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
      xmlns:ofr="http://www.stormware.cz/schema/version_2/offer.xsd"
      xmlns="http://www.stormware.cz/schema/version_2/offer.xsd"
      targetNamespace="http://www.stormware.cz/schema/version_2/offer.xsd"
      elementFormDefault="qualified">

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd"   schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd"          schemaLocation="print.xsd"/>

  <!-- **************************************************************************
    Nabídky
   ************************************************************************** -->

  <!-- REQUEST -->
<xsd:element name="offer" type="ofr:offerType"/>

<xsd:complexType name="offerType">
  <xsd:sequence minOccurs="1" maxOccurs="1">
    <xsd:element name="offerHeader" type="ofr:offerHeaderType" minOccurs="0"/>
    <xsd:element name="offerDetail" type="ofr:offerDetailType" minOccurs="0"/>
    <xsd:element name="offerSummary" type="ofr:offerSummaryType" minOccurs="0"/>
    <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Po vytvoření záznamu se provede jeho tisk.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="version" type="ofr:ofrVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="ofrVersionType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="offerHeaderType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID záznamu. Používá se jen při exportu dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="offerType" type="ofr:offerTypeType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Typ nabídky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="number" type="typ:numberType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Evidenční číslo dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="date" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum vystavení nabídky. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="validTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Platnost.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="text" type="typ:string240" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Text dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zákazníkova adresa. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Osobní adresa.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>  
    <xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cenová hladinu odběratele.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>  
    <xsd:element name="centre" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Středisko.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="activity" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Činnost.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="contract" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zakázka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="regVATinEU" type="typ:refTypeRegVATinEU" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Registrace DPH v EU.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="MOSS" type="typ:MOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Speciální režim registrace DPH v EU, režim Mini One Stop Shop (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="evidentiaryResourcesMOSS" type="typ:resourcesMOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Důkazní prostředky (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="accountingPeriodMOSS" type="typ:string7" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Účetní období (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="isExecuted" type="typ:boolean" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Vyřízeno. Používá se jen při exportu dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="details" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podrobnosti.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>    
    <xsd:element name="note" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="intNote" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Interní poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Označení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "označený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="labels" type="typ:labelsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Štítky záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Volitelný parametr.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>
    
<xsd:complexType name="offerDetailType">
  <xsd:sequence>
    <xsd:element name="offerItem" type="ofr:offerItemType" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="offerSummaryType">
  <xsd:all>
    <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zaokrouhlení celkové částky dokladu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kč. V případě použití cizí měny, je tuzemská částka při importu ignorována.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
     <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cizí měna.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="offerItemType">
  <xsd:all>
   <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="text" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Text položky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
      <xsd:element name="quantity" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Množství.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unit" type="typ:unitType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Měrná jednotka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
        <xsd:annotation>
          <xsd:documentation>Koeficient.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
        <xsd:annotation>
          <xsd:documentation>Ceny jsou uvedeny: bez DPH, včetně DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
        <xsd:annotation>
          <xsd:documentation>Sazba DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
        <xsd:annotation>
          <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kč.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cizí měna.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="typeServiceMOSS" type="typ:MOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Druh služby (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="centre" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Středisko.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="activity" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Činnost.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="contract" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zakázka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="note" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kód.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Údaje potřebné k nalezní skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
      <xsd:element name="EETItem" type="typ:EETItemType" minOccurs="0">
          <xsd:annotation>
              <xsd:documentation>Typ položky EET (pouze CZ verze).</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Volitelný parametr.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:simpleType name="offerTypeType">
  <xsd:annotation>
    <xsd:documentation>Typ nabídky.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="issuedOffer">
      <xsd:annotation>
        <xsd:documentation>Vydaná nabídka.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="receivedOffer">
      <xsd:annotation>
        <xsd:documentation>Přijatá nabídka.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>

<!-- RESPONSE -->

<xsd:element name="offerResponse" type="ofr:offerResponseType"/>

<xsd:complexType name="offerResponseType">
  <xsd:complexContent>
    <xsd:extension  base="rdc:documentResponseType"/>
  </xsd:complexContent>
</xsd:complexType>

</xsd:schema>
