lib/pohoda_xml_validator/pohoda_xsd/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
      xmlns:ord="http://www.stormware.cz/schema/version_2/order.xsd"
      xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
      xmlns="http://www.stormware.cz/schema/version_2/order.xsd"
      targetNamespace="http://www.stormware.cz/schema/version_2/order.xsd"
      elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd"   schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd"          schemaLocation="print.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/filter.xsd"   schemaLocation="filter.xsd"/>

  <!-- **************************************************************************
    Objednávky
   ************************************************************************** -->
  
<!-- REQUEST -->   
<xsd:element name="order" type="ord:orderType"/>

<xsd:complexType name="orderType">
  <xsd:sequence minOccurs="1" maxOccurs="1">
    <xsd:element name="actionType" type="ord:actionTypeType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Typ práce s dokladem. Výchozí hodnota je přidání nového dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="orderHeader" type="ord:orderHeaderType" minOccurs="0"/>
    <xsd:element name="orderDetail" type="ord:orderDetailType" minOccurs="0"/>
    <xsd:element name="orderSummary" type="ord:orderSummaryType" minOccurs="0"/>
    <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Po vytvoření záznamu se provede jeho tisk.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="version" type="ord:ordVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="ordVersionType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="orderHeaderType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID záznamu. Používá se při requestu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="orderType" type="ord:orderTypeType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Typ objednávky. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="storno" type="typ:stornoOrderType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Storno dokladu (pouze pro export).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="number" type="typ:numberType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Evidenční číslo dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="numberOrder" type="typ:documentNumberType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Číslo objednávky na jejímž základě byla faktura vystavena. Jen přijaté objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="date" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum vystavení / Datum zápisu. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateDelivery" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum dodání. Jen vydané objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Vyřídit od. Jen přijaté objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTo" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Vyřídit do. Jen přijaté objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="text" type="typ:string240" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Text dokladu</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zákazníkova adresa. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Osobní adresa.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>  
    <xsd:element name="paymentType" type="typ:paymentType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Forma úhrady. Implicitně je nastaveno 'příkazem'.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cenová hladinu odběratele. Jen přijaté objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>    
    <xsd:element name="isExecuted" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Vyřízeno.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="isDelivered" type="typ:boolean" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Dodáno. Používá se jen při exportu dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>    
    <xsd:element name="isReserved" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Rezervováno, pouze přijaté objednávky. Při importu dokladu je možné zásoby zarezervovat na skladě.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="iShop" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na typ internetového obchodu. Používá se jen při exportu dokladu. Jen přijaté objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="iShopName" type="typ:string35" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na internetový obchod. Používá se jen při exportu dokladu. Jen přijaté objednávky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateCancellation" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum stornování dokladu. Používá se jen při exportu dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="centre" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Středisko.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="activity" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Činnost.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="contract" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zakázka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="regVATinEU" type="typ:refTypeRegVATinEU" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Registrace DPH v EU.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="MOSS" type="typ:MOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Speciální režim registrace DPH v EU, režim Mini One Stop Shop (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="evidentiaryResourcesMOSS" type="typ:resourcesMOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Důkazní prostředky (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="accountingPeriodMOSS" type="typ:string7" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Účetní období (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="permamentDocument" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Trvalý doklad. Příznak pro označení trvalé objednávky v programu POHODA. U takto označených dokladů se nebude sledovat přenesené množství a bude možné ji neustále přenášet do dokladů</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="note" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="carrier" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Dopravce (pouze přijaté objednávky). </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="intNote" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Interní poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Označení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "označený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="labels" type="typ:labelsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Štítky záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Volitelný parametr.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>
    
<xsd:complexType name="orderDetailType">
  <xsd:sequence>
    <xsd:element name="orderItem" type="ord:orderItemType" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="orderSummaryType">
  <xsd:all>
    <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zaokrouhlení celkové částky dokladu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kč. V případě použití cizí měny, je tuzemská částka při importu ignorována.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
     <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cizí měna.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="orderItemType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="text" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Text položky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
      <xsd:element name="quantity" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Množství.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="delivered" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Dodáno.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unit" type="typ:unitType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Měrná jednotka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
        <xsd:annotation>
          <xsd:documentation>Koeficient.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
        <xsd:annotation>
          <xsd:documentation>Ceny jsou uvedeny: bez DPH, včetně DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
        <xsd:annotation>
          <xsd:documentation>Sazba DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
        <xsd:annotation>
          <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kč.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cizí měna.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="typeServiceMOSS" type="typ:MOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Druh služby (MOSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="note" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kód.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Údaje potřebné k nalezní skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="centre" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Středisko.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="activity" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Činnost.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="contract" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zakázka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
      <xsd:element name="EETItem" type="typ:EETItemType" minOccurs="0">
          <xsd:annotation>
              <xsd:documentation>Typ položky EET (pouze CZ verze).</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Volitelný parametr.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<!-- Typ objednávky                                      -->
<xsd:simpleType name="orderTypeType">
  <xsd:annotation>
    <xsd:documentation>Typ objednávky.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="issuedOrder">
      <xsd:annotation>
        <xsd:documentation>Vydaná objednávka.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="receivedOrder">
      <xsd:annotation>
        <xsd:documentation>Přijatá objednávka.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="actionTypeType">
  <xsd:choice>
    <xsd:element name="add" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Vložení nového záznamu. Výchozí hodnota.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <!-- <xsd:element name="update" type="ftr:requestOrderType">
      <xsd:annotation>
        <xsd:documentation>Aktualizace dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element> -->
    <xsd:element name="delete" type="ftr:deleteOrderType">
      <xsd:annotation>
        <xsd:documentation>odstranění dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:choice>
</xsd:complexType>

<!-- RESPONSE -->

<xsd:element name="orderResponse" type="ord:orderResponseType"/>

<xsd:complexType name="orderResponseType">
  <xsd:complexContent>
    <xsd:extension  base="rdc:documentResponseType"/>
  </xsd:complexContent>
</xsd:complexType>

</xsd:schema>
