lib/pohoda_xml_validator/pohoda_xsd/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:lst="http://www.stormware.cz/schema/version_2/list.xsd"
      xmlns:lAdb="http://www.stormware.cz/schema/version_2/list_addBook.xsd"
      xmlns:lCon="http://www.stormware.cz/schema/version_2/list_contract.xsd"
      xmlns:lStk="http://www.stormware.cz/schema/version_2/list_stock.xsd"
      xmlns:acu="http://www.stormware.cz/schema/version_2/accountingunit.xsd"
      xmlns:inv="http://www.stormware.cz/schema/version_2/invoice.xsd"
      xmlns:vch="http://www.stormware.cz/schema/version_2/voucher.xsd"
      xmlns:int="http://www.stormware.cz/schema/version_2/intDoc.xsd"
      xmlns:vyd="http://www.stormware.cz/schema/version_2/vydejka.xsd"
      xmlns:pri="http://www.stormware.cz/schema/version_2/prijemka.xsd"
      xmlns:pre="http://www.stormware.cz/schema/version_2/prevodka.xsd"
      xmlns:vyr="http://www.stormware.cz/schema/version_2/vyroba.xsd"
      xmlns:pro="http://www.stormware.cz/schema/version_2/prodejka.xsd"
      xmlns:stk="http://www.stormware.cz/schema/version_2/stock.xsd"
      xmlns:ord="http://www.stormware.cz/schema/version_2/order.xsd"
      xmlns:enq="http://www.stormware.cz/schema/version_2/enquiry.xsd"
      xmlns:ofr="http://www.stormware.cz/schema/version_2/offer.xsd"
      xmlns:rsp="http://www.stormware.cz/schema/version_2/response.xsd"
      xmlns:adb="http://www.stormware.cz/schema/version_2/addressbook.xsd"
      xmlns:prm="http://www.stormware.cz/schema/version_2/parameter.xsd"
      xmlns:bal="http://www.stormware.cz/schema/version_2/balance.xsd"
      xmlns:con="http://www.stormware.cz/schema/version_2/contract.xsd"
      xmlns:str="http://www.stormware.cz/schema/version_2/storage.xsd"
      xmlns:ipm="http://www.stormware.cz/schema/version_2/intParam.xsd"
      xmlns:idp="http://www.stormware.cz/schema/version_2/individualPrice.xsd"
      xmlns:bnk="http://www.stormware.cz/schema/version_2/bank.xsd"
      xmlns:act="http://www.stormware.cz/schema/version_2/accountancy.xsd"
      xmlns:sto="http://www.stormware.cz/schema/version_2/store.xsd"
      xmlns:sup="http://www.stormware.cz/schema/version_2/supplier.xsd"
      xmlns:ctg="http://www.stormware.cz/schema/version_2/category.xsd"
      xmlns:grs="http://www.stormware.cz/schema/version_2/groupStocks.xsd"
      xmlns:acp="http://www.stormware.cz/schema/version_2/actionPrice.xsd"
      xmlns:ilt="http://www.stormware.cz/schema/version_2/inventoryLists.xsd"
      xmlns:nms="http://www.stormware.cz/schema/version_2/numericalSeries.xsd"
      xmlns:pay="http://www.stormware.cz/schema/version_2/payment.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
      xmlns:sEET="http://www.stormware.cz/schema/version_2/sendEET.xsd"            
      xmlns:mKasa="http://www.stormware.cz/schema/version_2/mKasa.xsd"
      xmlns="http://www.stormware.cz/schema/version_2/response.xsd"
      targetNamespace="http://www.stormware.cz/schema/version_2/response.xsd"
      elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd"     schemaLocation="type.xsd"/>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/list.xsd"     schemaLocation="list.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/list_addBook.xsd" schemaLocation="list_addBook.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/list_contract.xsd" schemaLocation="list_contract.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/list_stock.xsd" schemaLocation="list_stock.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/accountingunit.xsd" schemaLocation="accountingunit.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/invoice.xsd"  schemaLocation="invoice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/voucher.xsd"  schemaLocation="voucher.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/intDoc.xsd"   schemaLocation="intDoc.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/vydejka.xsd"  schemaLocation="vydejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prijemka.xsd"   schemaLocation="prijemka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prevodka.xsd"   schemaLocation="prevodka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/vyroba.xsd"   schemaLocation="vyroba.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prodejka.xsd"   schemaLocation="prodejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/stock.xsd"    schemaLocation="stock.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/order.xsd"    schemaLocation="order.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/offer.xsd"    schemaLocation="offer.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/enquiry.xsd"  schemaLocation="enquiry.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/addressbook.xsd"  schemaLocation="addressbook.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/numericalSeries.xsd"  schemaLocation="numericalSeries.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/parameter.xsd"  schemaLocation="parameter.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/balance.xsd" schemaLocation="balance.xsd" />
<xsd:import namespace="http://www.stormware.cz/schema/version_2/contract.xsd" schemaLocation="contract.xsd" />
<xsd:import namespace="http://www.stormware.cz/schema/version_2/storage.xsd" schemaLocation="storage.xsd" />
<xsd:import namespace="http://www.stormware.cz/schema/version_2/intParam.xsd" schemaLocation="intParam.xsd" />
<xsd:import namespace="http://www.stormware.cz/schema/version_2/individualPrice.xsd" schemaLocation="individualPrice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/bank.xsd" schemaLocation="bank.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/accountancy.xsd" schemaLocation="accountancy.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/store.xsd" schemaLocation="store.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/supplier.xsd" schemaLocation="supplier.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/category.xsd" schemaLocation="category.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/groupStocks.xsd" schemaLocation="groupStocks.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/actionPrice.xsd" schemaLocation="actionPrice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/inventoryLists.xsd" schemaLocation="inventoryLists.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/payment.xsd" schemaLocation="payment.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" schemaLocation="print.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/sendEET.xsd" schemaLocation="sendEET.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/mKasa.xsd" schemaLocation="mKasa.xsd"/>

<!-- **************************************************************************
    root element must be <responsePack>
     ************************************************************************** -->
<xsd:element name="responsePack" type="rsp:responsePackType"/>

<!-- **************************************************************************
    responsePack
   ************************************************************************** -->

<xsd:complexType name="responsePackType">
  <xsd:sequence>
    <xsd:element name="responsePackItem" type="rsp:responsePackItemType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="xsd:string" use="required"/>
   <xsd:attribute name="id" form="unqualified" type="xsd:string" use="required"/>
   <xsd:attribute name="state" form="unqualified" type="typ:stavType2" use="required"/>
   <xsd:attribute name="note" type="xsd:string"/>
   <xsd:attribute name="programVersion" type="xsd:string"/>
  <xsd:attribute name="ico" type="typ:icoType" >
    <xsd:annotation>
      <xsd:documentation>
        IČ firmy, která XML zpracovala.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="dateTimeStamp" type="xsd:dateTime"/>
</xsd:complexType>

<xsd:complexType name="responsePackItemType">
  <xsd:choice minOccurs="0" maxOccurs="1">  
    
    <!-- odpověď na import -->
    <xsd:element ref="adb:addressbookResponse"/>    
    <xsd:element ref="inv:invoiceResponse"/>
    <xsd:element ref="nms:numericalSeriesResponse"/>
    <xsd:element ref="vch:voucherResponse"/>
    <xsd:element ref="int:intDocResponse"/>
    <xsd:element ref="vyd:vydejkaResponse"/>
    <xsd:element ref="pri:prijemkaResponse"/>
    <xsd:element ref="pro:prodejkaResponse"/>
    <xsd:element ref="stk:stockItemResponse"/>
    <xsd:element ref="ord:orderResponse"/>
    <xsd:element ref="enq:enquiryResponse"/>
    <xsd:element ref="ofr:offerResponse"/>
    <xsd:element ref="vyr:vyrobaResponse"/>
    <xsd:element ref="pre:prevodkaResponse"/>
    <xsd:element ref="prm:parameterItemResponse"/>
    <xsd:element ref="con:contractResponse" />
    <xsd:element ref="str:storageResponse" />
    <xsd:element ref="ipm:intParamResponse" />
    <xsd:element ref="idp:individualPriceResponse" />
    <xsd:element ref="sto:storeResponse" />
    <xsd:element ref="grs:groupStocksResponse" />
    <xsd:element ref="prn:printResponse" />
    <xsd:element ref="sEET:sendEETResponse" />
    <xsd:element ref="mKasa:mKasaResponse"/>
    <xsd:element ref="ilt:inventoryListsResponse"/>
    <xsd:element ref="lst:listUserCodeResponse"/>
    <xsd:element ref="sup:supplierResponse"/>
    <xsd:element ref="ctg:categoryResponse"/>

    <!-- export dat z programu -->
    <xsd:element ref="lst:listCentre"/>
    <xsd:element ref="lst:listActivity"/>
    <xsd:element ref="lst:listContract"/>
    <xsd:element ref="lst:listCash"/>
    <xsd:element ref="lst:listCashRegister"/>
    <xsd:element ref="lst:listBankAccount"/>
    <xsd:element ref="lst:listAccountingSingleEntry"/>
    <xsd:element ref="lst:listAccountingDoubleEntry"/>
    <xsd:element ref="lst:listAccount"/>
    <xsd:element ref="lst:listStorage"/>
    <xsd:element ref="lst:listSellingPrice"/>
    <xsd:element ref="lst:listNumericSeries"/>
    <xsd:element ref="lst:createAccountingDoubleEntryResponse"/>
    <xsd:element ref="acu:listAccountingUnit"/>
    <xsd:element ref="lStk:listStock"/>
    <xsd:element ref="lst:listInvoice"/>
    <xsd:element ref="lAdb:listAddressBook"/>
    <xsd:element ref="lst:listOrder"/>
    <xsd:element ref="lst:listEnquiry"/>
    <xsd:element ref="lst:listOffer"/>
    <xsd:element ref="lst:listParameter"/>
    <xsd:element ref="lst:listUserCodePack"/>
    <xsd:element ref="lst:listVydejka"/>
    <xsd:element ref="lst:listPrijemka"/>
    <xsd:element ref="lst:listBalance" />
    <xsd:element ref="lCon:listContract"/>
    <xsd:element ref="lst:listCategory"/> 
    <xsd:element ref="lst:listIntParam"/>
    <xsd:element ref="lst:listIntDoc"/>
    <xsd:element ref="lst:listProdejka"/>
    <xsd:element ref="lst:listVoucher"/>
    <xsd:element ref="lst:listPrevodka"/>
    <xsd:element ref="lst:listVyroba"/> 
    <xsd:element ref="lst:taxDataResponse"/>
    <xsd:element ref="lst:listIndividualPrice"/>
    <xsd:element ref="lst:listBank"/>
    <xsd:element ref="lst:listAccountancy"/>
    <xsd:element ref="lst:listStore"/>
    <xsd:element ref="lst:listSupplier"/>
    <xsd:element ref="lst:listGroupStocks"/>
    <xsd:element ref="lst:listActionPrice"/>
    <xsd:element ref="lst:listInventoryLists"/>
    <xsd:element ref="lst:listPayment"/>
    <xsd:element ref="lst:listNumericalSeries"/>

  </xsd:choice> 
  <xsd:attribute name="version" type="xsd:string" use="required"/>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="state" type="typ:stavType2" form="unqualified" use="required"/>
    <xsd:attribute name="note" type="xsd:string"/>
</xsd:complexType>
 
</xsd:schema>
